tensorflow>=2.12
numpy
pandas
scikit-learn
matplotlib

# ---------------- Image Processing ----------------
opencv-python
albumentations

# ---------------- Experiment & Utilities ----------------
tqdm
joblib
PyYAML

# ---------------- Deployment ----------------
streamlit
kagglehub

# ---------------- AWS / MLOps ----------------
boto3

# ---------------- Development ----------------
notebook
python-box
ensure

