# ---------------- Core ML / DL ----------------
tensorflow>=2.12          # CNNs, classification, segmentation (U-Net, transfer learning)
numpy                     # Numerical operations
pandas                    # Tabular handling (metadata, splits)
scikit-learn              # Metrics, train-test split, evaluation
matplotlib                # Visualization (EDA, debugging)

# ---------------- Image Processing ----------------
opencv-python             # Image loading & preprocessing
albumentations            # Image augmentation for medical images

# ---------------- Experiment & Utilities ----------------
tqdm                      # Progress bars
joblib                    # Save/load models, artifacts
pyyaml                    # Read config.yaml & params.yaml

# ---------------- Deployment ----------------
streamlit                 # End-user UI
kagglehub                 # Dataset download from Kaggle

# ---------------- AWS / MLOps ----------------
boto3                     # AWS S3, ECR, ECS interaction

# ---------------- Development ----------------
notebook                  # Jupyter notebooks for research
python-box                # Dot-access for config objects
ensure                    # Input validation & safety

# ---------------- Packaging ----------------
-e .
